
//顏色
$primary :#3f51b5;
$light:#757de8;
$dark:#002984;
$secondary:#26c6da;
$warning: #ffc107;
$danger:#dc3545;
$black:#343a40;
$white:#ffffff;

$font-size:16px;
$font-lg:$font-size / 3;
$font-family-base:Portrait,serif,"Noto Sans TC","sans-serif","Arial","微軟正黑體";
